.button{
    background: $blue;
    border: none;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-weight: 300;
    line-height: 1;
    font-size: $font-size-lg;
    padding: $s-size;
    text-decoration: none;
}

.button--link{
    background: $dark-blue;
}

.button--secondary {
    background: #EF5350;
}